<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importing-the-libraries" data-toc-modified-id="Importing-the-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importing the libraries</a></span></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Loading-the-dataset" data-toc-modified-id="Loading-the-dataset-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Loading the dataset</a></span></li><li><span><a href="#Dropping-irrelevant-column" data-toc-modified-id="Dropping-irrelevant-column-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Dropping irrelevant column</a></span></li><li><span><a href="#Check-missing-data" data-toc-modified-id="Check-missing-data-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Check missing data</a></span></li><li><span><a href="#Create-dependent-&amp;-independent-variable" data-toc-modified-id="Create-dependent-&amp;-independent-variable-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Create dependent &amp; independent variable</a></span></li><li><span><a href="#Encoding-categorical-data" data-toc-modified-id="Encoding-categorical-data-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Encoding categorical data</a></span><ul class="toc-item"><li><span><a href="#One-hot-encoding-of-independent-categorical-variable" data-toc-modified-id="One-hot-encoding-of-independent-categorical-variable-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>One hot encoding of independent categorical variable</a></span></li></ul></li><li><span><a href="#Splitting-the-dataset-into-the-Training-and-Test" data-toc-modified-id="Splitting-the-dataset-into-the-Training-and-Test-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Splitting the dataset into the Training and Test</a></span></li><li><span><a href="#Feature-Scaling" data-toc-modified-id="Feature-Scaling-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Feature Scaling</a></span></li></ul></li><li><span><a href="#Designing-the-ANN" data-toc-modified-id="Designing-the-ANN-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Designing the ANN</a></span><ul class="toc-item"><li><span><a href="#Initialize-the-ANN-(Sequence-of-Layers)" data-toc-modified-id="Initialize-the-ANN-(Sequence-of-Layers)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Initialize the ANN (Sequence of Layers)</a></span></li><li><span><a href="#Adding-the-I/P-layer-and-hidden-layer" data-toc-modified-id="Adding-the-I/P-layer-and-hidden-layer-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Adding the I/P layer and hidden layer</a></span></li><li><span><a href="#Adding-the-second-hidden-layer" data-toc-modified-id="Adding-the-second-hidden-layer-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Adding the second hidden layer</a></span></li><li><span><a href="#Adding-the-output-layer" data-toc-modified-id="Adding-the-output-layer-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Adding the output layer</a></span></li></ul></li><li><span><a href="#Training-the-model" data-toc-modified-id="Training-the-model-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Training the model</a></span><ul class="toc-item"><li><span><a href="#Compliling-the-ANN" data-toc-modified-id="Compliling-the-ANN-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Compliling the ANN</a></span></li><li><span><a href="#Training-the-ANN-on-the-training-set" data-toc-modified-id="Training-the-ANN-on-the-training-set-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Training the ANN on the training set</a></span></li></ul></li><li><span><a href="#Making-the-prediction" data-toc-modified-id="Making-the-prediction-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Making the prediction</a></span><ul class="toc-item"><li><span><a href="#Prediction-for-Test-dataset" data-toc-modified-id="Prediction-for-Test-dataset-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Prediction for Test dataset</a></span></li><li><span><a href="#Evaluate-the-confusion-matrix-and-accuracy_score" data-toc-modified-id="Evaluate-the-confusion-matrix-and-accuracy_score-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Evaluate the confusion matrix and accuracy_score</a></span></li><li><span><a href="#Predicting-the-result-of-single-observation" data-toc-modified-id="Predicting-the-result-of-single-observation-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Predicting the result of single observation</a></span><ul class="toc-item"><li><span><a href="#Create-dataframe-for-prediction" data-toc-modified-id="Create-dataframe-for-prediction-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Create dataframe for prediction</a></span></li><li><span><a href="#Implementing-and-one-hot-encoding-to-categorical-variable" data-toc-modified-id="Implementing-and-one-hot-encoding-to-categorical-variable-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>Implementing and one hot encoding to categorical variable</a></span></li><li><span><a href="#Implement-scaling-to-match-the-train-data-row-and-columns" data-toc-modified-id="Implement-scaling-to-match-the-train-data-row-and-columns-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>Implement scaling to match the train data row and columns</a></span></li><li><span><a href="#Predict-the-probabilities-(due-to-sigmoid-o/p-layer)" data-toc-modified-id="Predict-the-probabilities-(due-to-sigmoid-o/p-layer)-5.3.4"><span class="toc-item-num">5.3.4&nbsp;&nbsp;</span>Predict the probabilities (due to sigmoid o/p layer)</a></span></li></ul></li></ul></li></ul></div>

# Artificial Neural Network - Predict bank customer churn

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.20.0'

## Data Preprocessing

### Loading the dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df = dataset.copy()
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Dropping irrelevant column

In [5]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Check missing data

In [6]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### Create dependent & independent variable

In [7]:
X = df.iloc[:,:-1]
y = df.iloc[:, -1]
X, y

(      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
 0             619    France  Female   42       2       0.00              1
 1             608     Spain  Female   41       1   83807.86              1
 2             502    France  Female   42       8  159660.80              3
 3             699    France  Female   39       1       0.00              2
 4             850     Spain  Female   43       2  125510.82              1
 ...           ...       ...     ...  ...     ...        ...            ...
 9995          771    France    Male   39       5       0.00              2
 9996          516    France    Male   35      10   57369.61              1
 9997          709    France  Female   36       7       0.00              1
 9998          772   Germany    Male   42       3   75075.31              2
 9999          792    France  Female   28       4  130142.79              1

       HasCrCard  IsActiveMember  EstimatedSalary
 0             1               1        101348.88
 1             0               1        112542.58
 2             1               0        113931.57
 3             0               0         93826.63
 4             1               1         79084.10
 ...         ...             ...              ...
 9995          1               0         96270.64
 9996          1               1        101699.77
 9997          0               1         42085.58
 9998          1               0         92888.52
 9999          1               0         38190.78

 [10000 rows x 10 columns],
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 9995    0
 9996    0
 9997    1
 9998    1
 9999    0
 Name: Exited, Length: 10000, dtype: int64)

### Encoding categorical data

#### One hot encoding of independent categorical variable

In [8]:
X = pd.get_dummies(X, columns=['Gender', 'Geography'], drop_first=True)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,False,True
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,True,False,False
9996,516,35,10,57369.61,1,1,1,101699.77,True,False,False
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,True,False
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [9]:
train_columns = X.columns.tolist()
train_columns

['CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Gender_Male',
 'Geography_Germany',
 'Geography_Spain']

### Splitting the dataset into the Training and Test

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [11]:
X_train, X_test

(      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
 5525          624   51      10  123401.43              2          1
 5034          631   29       2   96863.52              2          1
 4709          554   31       1       0.00              2          0
 4218          589   19       9   83495.11              1          1
 917           646   45       3   47134.75              1          1
 ...           ...  ...     ...        ...            ...        ...
 664           661   41       1       0.00              2          0
 7540          553   37       1       0.00              1          1
 7221          625   41       6   97663.16              2          1
 1318          598   43       5       0.00              3          1
 8915          606   36       1  155655.46              1          1

       IsActiveMember  EstimatedSalary  Gender_Male  Geography_Germany  \
 5525               1        127825.25         True              False
 5034               1         31613.35        False               True
 4709               1        192660.55         True              False
 4218               1        143022.31        False               True
 917                1         57236.44        False              False
 ...              ...              ...          ...                ...
 664                1        131300.68        False              False
 7540               0         30461.55         True              False
 7221               0         57128.78         True              False
 1318               1        100722.72        False              False
 8915               1        192387.51         True              False

       Geography_Spain
 5525            False
 5034            False
 4709            False
 4218            False
 917             False
 ...               ...
 664             False
 7540            False
 7221            False
 1318            False
 8915            False

 [8000 rows x 11 columns],
       CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
 2374          639   29       4  133434.57              2          1
 1784          658   36       8  174060.46              1          1
 6301          766   45       6   97652.96              1          1
 1600          517   28       2  115062.61              1          1
 7920          714   34       5  141173.03              1          0
 ...           ...  ...     ...        ...            ...        ...
 8623          430   38       8  153058.64              1          1
 5928          578   36       8  129745.10              1          1
 6714          825   36       3  146053.66              1          1
 5885          602   29       3   88814.40              2          1
 7289          627   35       7       0.00              1          1

       IsActiveMember  EstimatedSalary  Gender_Male  Geography_Germany  \
 2374               0         97983.44         True              False
 1784               1         94925.62         True              False
 6301               0        127332.33        False               True
 1600               0        179056.23         True              False
 7920               1         98896.06         True              False
 ...              ...              ...          ...                ...
 8623               0         99377.27        False               True
 5928               1        143683.75        False               True
 6714               1        138344.70        False              False
 5885               1         62487.97        False              False
 7289               0        187718.26        False              False

       Geography_Spain
 2374             True
 1784            False
 6301            False
 1600            False
 7920            False
 ...               ...
 8623            False
 5928            False
 6714            False
 5885            False
 7289             True

 [2000 rows x 11 columns])

In [12]:
y_train, y_test

(5525    0
 5034    0
 4709    0
 4218    1
 917     0
        ..
 664     0
 7540    0
 7221    0
 1318    1
 8915    1
 Name: Exited, Length: 8000, dtype: int64,
 2374    0
 1784    0
 6301    0
 1600    0
 7920    0
        ..
 8623    0
 5928    0
 6714    0
 5885    0
 7289    0
 Name: Exited, Length: 2000, dtype: int64)

### Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
X_train = std_scaler.fit_transform(X_train)
X_test = std_scaler.transform(X_test)

In [14]:
X_train, X_test

(array([[-0.28222475,  1.14919188,  1.72112731, ...,  0.91393836,
         -0.57985213, -0.57407859],
        [-0.2101288 , -0.95483262, -1.04325013, ..., -1.0941657 ,
          1.7245776 , -0.57407859],
        [-1.00318425, -0.76355766, -1.38879731, ...,  0.91393836,
         -0.57985213, -0.57407859],
        ...,
        [-0.27192532,  0.19281711,  0.33893859, ...,  0.91393836,
         -0.57985213, -0.57407859],
        [-0.5500097 ,  0.38409206, -0.00660859, ..., -1.0941657 ,
         -0.57985213, -0.57407859],
        [-0.46761433, -0.28537028, -1.38879731, ...,  0.91393836,
         -0.57985213, -0.57407859]], shape=(8000, 11)),
 array([[-0.12773342, -0.95483262, -0.35215577, ...,  0.91393836,
         -0.57985213,  1.74192178],
        [ 0.06795558, -0.28537028,  1.03003295, ...,  0.91393836,
         -0.57985213, -0.57407859],
        [ 1.1802931 ,  0.57536702,  0.33893859, ..., -1.0941657 ,
          1.7245776 , -0.57407859],
        ...,
        [ 1.78795896, -0.28537028, -0.69770295, ..., -1.0941657 ,
         -0.57985213, -0.57407859],
        [-0.50881202, -0.95483262, -0.69770295, ..., -1.0941657 ,
         -0.57985213, -0.57407859],
        [-0.25132648, -0.38100775,  0.68448577, ..., -1.0941657 ,
         -0.57985213,  1.74192178]], shape=(2000, 11)))

## Designing the ANN

### Initialize the ANN (Sequence of Layers)

In [15]:
from keras.models import Sequential
ann_model = Sequential()

### Adding the I/P layer and hidden layer

In [16]:
from keras.layers import Input, Dense
ann_model.add(Input(shape=(11,)))
ann_model.add(Dense(units=16, activation='relu'))

In [17]:
import visualkeras
# visualkeras.layered_view(ann_model)

### Adding the second hidden layer

In [18]:
ann_model.add(Dense(units=8, activation='relu'))
# visualkeras.layered_view(ann_model)

### Adding the output layer

In [19]:
ann_model.add(Dense(units=1, activation='sigmoid'))
# visualkeras.layered_view(ann_model)

In [20]:
# from tensorflow.keras.utils import plot_model
# plot_model(ann_model, to_file='model.png', show_shapes=True, show_layer_names=True)

## Training the model

### Compliling the ANN

In [21]:
ann_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy', 'AUC'])

### Training the ANN on the training set

In [22]:
ann_model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 532us/step - AUC: 0.6137 - accuracy: 0.7969 - loss: 0.4980
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - AUC: 0.7353 - accuracy: 0.7970 - loss: 0.4490
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - AUC: 0.7674 - accuracy: 0.8044 - loss: 0.4300
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - AUC: 0.7833 - accuracy: 0.8202 - loss: 0.4185
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - AUC: 0.7972 - accuracy: 0.8267 - loss: 0.4075
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - AUC: 0.8113 - accuracy: 0.8342 - loss: 0.3957
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - AUC: 0.8259 - accuracy: 0.8410 - loss: 0.3826
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - AUC: 0.8393 - accuracy: 0.8489 - loss: 0.3687
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - AUC: 0.8479 - accuracy: 0.8554 - loss: 0.3579
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - AUC: 0.8525 - accuracy: 0.8595 - loss: 0.3518
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - AUC: 0.8553 - accuracy: 0.8590 - loss: 0.3479
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - AUC: 0.8579 - accuracy: 0.8602 - loss: 0.3443
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - AUC: 0.8599 - accuracy: 0.8615 - loss: 0.3418
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - AUC: 0.8614 - accuracy: 0.8635 - loss: 0.3399
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - AUC: 0.8619 - accuracy: 0.8641 - loss: 0.3381
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - AUC: 0.8636 - accuracy: 0.8643 - loss: 0.3366
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - AUC: 0.8642 - accuracy: 0.8641 - loss: 0.3356
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - AUC: 0.8661 - accuracy: 0.8629 - loss: 0.3337
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - AUC: 0.8653 - accuracy: 0.8666 - loss: 0.3334
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - AUC: 0.8668 - accuracy: 0.8669 - loss: 0.3324
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - AUC: 0.8673 - accuracy: 0.8664 - loss: 0.3315
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - AUC: 0.8675 - accuracy: 0.8652 - loss: 0.3309
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - AUC: 0.8684 - accuracy: 0.8665 - loss: 0.3300
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - AUC: 0.8685 - accuracy: 0.8673 - loss: 0.3297
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - AUC: 0.8699 - accuracy: 0.8666 - loss: 0.3288
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - AUC: 0.8704 - accuracy: 0.8689 - loss: 0.3278
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - AUC: 0.8699 - accuracy: 0.8669 - loss: 0.3279
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - AUC: 0.8698 - accuracy: 0.8675 - loss: 0.3276
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - AUC: 0.8713 - accuracy: 0.8687 - loss: 0.3265
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - AUC: 0.8706 - accuracy: 0.8677 - loss: 0.3272
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - AUC: 0.8715 - accuracy: 0.8685 - loss: 0.3258
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - AUC: 0.8712 - accuracy: 0.8689 - loss: 0.3259
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - AUC: 0.8716 - accuracy: 0.8690 - loss: 0.3256
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - AUC: 0.8716 - accuracy: 0.8689 - loss: 0.3252
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - AUC: 0.8717 - accuracy: 0.8696 - loss: 0.3250
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - AUC: 0.8720 - accuracy: 0.8690 - loss: 0.3244
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - AUC: 0.8725 - accuracy: 0.8691 - loss: 0.3243
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - AUC: 0.8728 - accuracy: 0.8685 - loss: 0.3239
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - AUC: 0.8729 - accuracy: 0.8690 - loss: 0.3240
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - AUC: 0.8729 - accuracy: 0.8699 - loss: 0.3236
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - AUC: 0.8732 - accuracy: 0.8711 - loss: 0.3232
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - AUC: 0.8739 - accuracy: 0.8690 - loss: 0.3226
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - AUC: 0.8738 - accuracy: 0.8695 - loss: 0.3229
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - AUC: 0.8740 - accuracy: 0.8686 - loss: 0.3224
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - AUC: 0.8744 - accuracy: 0.8681 - loss: 0.3221
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - AUC: 0.8744 - accuracy: 0.8709 - loss: 0.3223
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - AUC: 0.8745 - accuracy: 0.8721 - loss: 0.3218
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - AUC: 0.8743 - accuracy: 0.8711 - loss: 0.3219
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - AUC: 0.8741 - accuracy: 0.8702 - loss: 0.3216
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - AUC: 0.8752 - accuracy: 0.8701 - loss: 0.3214
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - AUC: 0.8751 - accuracy: 0.8705 - loss: 0.3207
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - AUC: 0.8751 - accuracy: 0.8705 - loss: 0.3212
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - AUC: 0.8752 - accuracy: 0.8687 - loss: 0.3210
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - AUC: 0.8757 - accuracy: 0.8708 - loss: 0.3204
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - AUC: 0.8760 - accuracy: 0.8715 - loss: 0.3204
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - AUC: 0.8760 - accuracy: 0.8706 - loss: 0.3202
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - AUC: 0.8766 - accuracy: 0.8717 - loss: 0.3197
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - AUC: 0.8765 - accuracy: 0.8694 - loss: 0.3197
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - AUC: 0.8763 - accuracy: 0.8712 - loss: 0.3195
Epoch 60/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - AUC: 0.8770 - accuracy: 0.8700 - loss: 0.3190
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - AUC: 0.8765 - accuracy: 0.8709 - loss: 0.3194
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - AUC: 0.8768 - accuracy: 0.8710 - loss: 0.3195
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - AUC: 0.8771 - accuracy: 0.8702 - loss: 0.3187
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - AUC: 0.8760 - accuracy: 0.8710 - loss: 0.3192
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - AUC: 0.8772 - accuracy: 0.8716 - loss: 0.3186
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - AUC: 0.8783 - accuracy: 0.8715 - loss: 0.3178
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - AUC: 0.8779 - accuracy: 0.8702 - loss: 0.3181
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - AUC: 0.8780 - accuracy: 0.8701 - loss: 0.3178
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - AUC: 0.8777 - accuracy: 0.8720 - loss: 0.3180
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - AUC: 0.8779 - accuracy: 0.8708 - loss: 0.3179
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - AUC: 0.8787 - accuracy: 0.8723 - loss: 0.3171
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - AUC: 0.8789 - accuracy: 0.8716 - loss: 0.3172
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - AUC: 0.8786 - accuracy: 0.8725 - loss: 0.3174
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - AUC: 0.8782 - accuracy: 0.8724 - loss: 0.3173
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - AUC: 0.8789 - accuracy: 0.8712 - loss: 0.3167
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - AUC: 0.8781 - accuracy: 0.8710 - loss: 0.3174
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - AUC: 0.8787 - accuracy: 0.8706 - loss: 0.3174
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - AUC: 0.8792 - accuracy: 0.8702 - loss: 0.3165
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - AUC: 0.8790 - accuracy: 0.8727 - loss: 0.3167
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - AUC: 0.8796 - accuracy: 0.8704 - loss: 0.3165
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - AUC: 0.8795 - accuracy: 0.8706 - loss: 0.3164
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - AUC: 0.8796 - accuracy: 0.8717 - loss: 0.3160
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - AUC: 0.8795 - accuracy: 0.8706 - loss: 0.3163
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 441us/step - AUC: 0.8805 - accuracy: 0.8716 - loss: 0.3155
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - AUC: 0.8804 - accuracy: 0.8721 - loss: 0.3154
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - AUC: 0.8802 - accuracy: 0.8721 - loss: 0.3157
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - AUC: 0.8805 - accuracy: 0.8717 - loss: 0.3156
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - AUC: 0.8802 - accuracy: 0.8719 - loss: 0.3154
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - AUC: 0.8802 - accuracy: 0.8715 - loss: 0.3154
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - AUC: 0.8804 - accuracy: 0.8719 - loss: 0.3153
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - AUC: 0.8801 - accuracy: 0.8710 - loss: 0.3152
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - AUC: 0.8805 - accuracy: 0.8715 - loss: 0.3153
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - AUC: 0.8807 - accuracy: 0.8727 - loss: 0.3150
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - AUC: 0.8802 - accuracy: 0.8725 - loss: 0.3152
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - AUC: 0.8810 - accuracy: 0.8719 - loss: 0.3148
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - AUC: 0.8816 - accuracy: 0.8710 - loss: 0.3141
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - AUC: 0.8810 - accuracy: 0.8720 - loss: 0.3146
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - AUC: 0.8811 - accuracy: 0.8727 - loss: 0.3144
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - AUC: 0.8811 - accuracy: 0.8712 - loss: 0.3146
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - AUC: 0.8816 - accuracy: 0.8716 - loss: 0.3141

## Making the prediction

### Prediction for Test dataset

In [23]:
accuracy_test = ann_model.evaluate(X_test, y_test)
accuracy_test

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - AUC: 0.8537 - accuracy: 0.8530 - loss: 0.3525

[0.3525169789791107, 0.8529999852180481, 0.8537185788154602]

In [24]:
y_pred = ann_model.predict(X_test)
y_pred = (y_pred > 0.5)
np.concatenate([y_pred.reshape(len(y_pred), -1), y_test.values.reshape(len(y_test), -1)], axis=1)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step

array([[0, 0],
       [0, 0],
       [1, 0],
       ...,
       [0, 0],
       [0, 0],
       [0, 0]], shape=(2000, 2))

### Evaluate the confusion matrix and accuracy_score

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test.values, y_pred)

array([[1533,   55],
       [ 239,  173]])

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test.values, y_pred)

0.853

### Predicting the result of single observation

#### Create dataframe for prediction

In [27]:
df_prediction = pd.DataFrame([{
    "Geography": "France",
    "CreditScore": 600,
    "Gender": "Male",
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "NumOfProducts": 2,
    "EstimatedSalary": 50000,
    "HasCrCard": 1,
    "IsActiveMember":1
}])

#### Implementing and one hot encoding to categorical variable

In [28]:
df_prediction = pd.get_dummies(df_prediction, columns=['Gender', 'Geography'])
df_prediction = df_prediction.reindex(columns=train_columns, fill_value=0)
df_prediction

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,600,40,3,60000,2,1,1,50000,True,0,0

#### Implement scaling to match the train data row and columns

In [29]:
df_prediction_scaled = std_scaler.transform(df_prediction)
df_prediction_scaled

array([[-0.52941086,  0.09717963, -0.69770295, -0.26388705,  0.82546853,
         0.64434291,  0.97725852, -0.87812086,  0.91393836, -0.57985213,
        -0.57407859]])

#### Predict the probabilities (due to sigmoid o/p layer)

In [30]:
df_prediction_prob = ann_model.predict(df_prediction_scaled) 
df_prediction_prob

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step

array([[0.02157775]], dtype=float32)

In [31]:
pred = (df_prediction_prob > 0.5)[0]
pred

array([False])

Customer will stay with the bank, hurray!!!